{:paths ["src"]

 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        io.pedestal/pedestal.service {:mvn/version "0.5.5"}
        io.pedestal/pedestal.jetty {:mvn/version "0.5.5"}
        metosin/reitit-pedestal {:mvn/version "0.5.5"}
        metosin/reitit {:mvn/version "0.5.5"}}

  :aliases {:test {:extra-paths ["test" "dev"]
                   :extra-deps {org.clojure/test.check {:mvn/version "1.0.0"}
                                nubank/matcher-combinators {:mvn/version "3.1.1"}
                                lambdaisland/kaocha {:mvn/version "1.0.632"}
                                lambdaisland/kaocha-cloverage {:mvn/version "1.0-45"}
                                ring/ring-mock {:mvn/version "0.3.2"}
                                com.datomic/dev-local {:mvn/version "0.9.203"}}}

            :kaocha {:main-opts ["-m" "kaocha.runner"
                                 "--plugin" "cloverage"]}

            :build {:extra-deps {seancorfield/depstar {:mvn/version "1.0.94"}}
                    :main-opts ["-m" "hf.depstar.uberjar"
                                "target/book-desk.jar"
                                "-C"
                                "-m"
                                "book-desk.core"]}

            :fmt {:extra-deps {cljfmt/cljfmt {:mvn/version "0.6.7"}}
                  :main-opts ["-m" "cljfmt.main check"
                              "--indents" "indentation.edn"]}

            :fmt-fix {:extra-deps {cljfmt/cljfmt {:mvn/version "0.6.7"}}
                      :main-opts ["-m" "cljfmt.main fix"
                                  "--indents" "indentation.edn"]}
            :lint {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2020.06.21"}}
                   :main-opts ["-m" "clj-kondo.main" "--lint" "src:test"]}}}
